* {
    padding: 0;
    margin: 0;
}

.register-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2E4A;
}

.register-middle {
    width: 1140px;
    height: 550px;
    background-color: #2B2E4A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 50%;
    height: 550px;
    display: flex;
    background-color: #2B2E4A;
    margin-right: auto;
    border-radius: 10px;
}

.image1 {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: "Jockey One";
    color:white;
    margin-top:45px;

}

.custom-input {
    height: 44px;
    width: 350px;
    border-radius: 5px;
    /* margin: 10px 0; */
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    margin-top:80px;
}
.custom-input1 {
    height: 44px;
    width: 350px;
    border-radius: 5px;
    /* margin: 10px 0; */
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    margin-bottom:90px;
}


.custom-button {
    background-color: #903749;
    color: #FFFFFF;
    font-weight: bold;
    width: 58%;
    height: 44px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #751f3b;
    width:60%;
}
.register-top{
    display:flex;
    justify-content: center;
    align-items:center;
    /* height:200px; */
}
.register-inputs{
    display:flex;
    height:400px;
    flex-wrap:wrap;
    justify-content: center;
}
.register-button{
    display:flex;
    height:100px;
    justify-content: center;
    margin-top:40px;
}
.Sign{
    width:100%;
    background-color:#2B2E4A;
    margin-left:140px;
}
p{
    color:white;
    font-weight: medium;
}
p1{
    color:#E84545;
    font-weight:medium;
}
/* Existing styles */

.Sign a {
    color: #E84545; /* Set the color for the link text */
    text-decoration: none; /* Remove the underline */
}




@media screen and (max-width: 320px) {
    .image-container {
        display: none; 
    }

   
    .custom-input, .custom-input1 {
        width: 85%; 
        margin-top: 10px;
        height:32px;
    }

    .custom-button {
        width: 90%; 
    }
    .Sign{
        width:120px;
        text-align: center;
        justify-content: center;
        display:flex;
        margin-right:2px;
        height:20px;
    }
    .register-button{
        height:50px;
    }
    p{
       margin-left:-80px;
    }
    .register-top{
        margin:20%;
    }
    .register-inputs{
        height:270px;
    }


}
